/* FILEPATH: /c:/Users/mayeu/OneDrive/Documents/GitHub/Epitech année 1 projet/sneakair2/style.css */


.infoDiv {
    width: 10%;
    top: 0;
    left: 0;
    z-index: 1;
}

#PAIRES img{
    max-width: 100%;
    min-height: 186px;

}

.vignette{
    width: 200px;
    max-width: 200px;
    padding-left: 20px;
    padding-bottom: 25px;
    display:inline;
    float:left; 
    vertical-align: middle;
    margin: 5px; /* Added margin-right for spacing */
}

#recherche {
    width: 50%;
    border: none;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 10px;
    font-size: 16px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#recherche:focus {
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form {
    text-align: center;
    
}
h1 {
    color: rgb(49, 47, 47);
    text-align: center;
    font-size: 100px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

table{
    margin-left: 2%;
}

.information{
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.information span {
    color: #45a049;
    margin-left: 10px;
}

#brand {
    font-size: 40px;
}

.vignette {
    width: 186px;
    max-width: 200px;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 7px;
    border: 1px solid #595757;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #f2f2f2;
    transition: transform 0.3s ease;
}

.vignette:hover {
    transform: scale(1.05);
}
   

.vignette img {
    max-width: 100%;
    min-height: 186px;

}

.sneaker {
    margin-top: 2%;
    margin-right: 1%;
    width: 200px;
    max-width: 200px;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 7px;
    border: 1px solid #595757;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #f2f2f2;
    transition: transform 0.3s ease;
}

.sneaker:hover {
    transform: scale(1.05);
}
   

.sneaker img {
    max-width: 100%;
    min-height: 210px;

}


#showWishlist {
    margin-bottom: 60px;
    background-color: #546254;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#showWishlist:hover {
    background-color: #45a049;
}

#showCollection {
    margin-bottom: 60px;
    background-color: #546254;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#showCollection:hover {
    background-color: #45a049;
}

.favorite {
    background-color: #546254;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.favorite:hover {
    background-color: #45a049;
}

.login {
    background-color: #546254;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login:hover {
    background-color: #45a049;
}

#previous {
    margin-left: 2.5%;
    background-color: #546254;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#previous:hover {
    background-color: #45a049;
}

#next {
    background-color: #546254;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#next:hover {
    background-color: #45a049;
}

.addToWishlistButton {
    margin-left: 4%;
    background-color: #546254;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addToWishlistButton:hover {
    background-color: #d9240d;
}

.addToWishlistButton.clicked {
    background-color: #d9240d;
}

.addToCollectionButton {
    margin-top: 3%;
    background-color: #546254;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addToCollectionButton:hover {
    background-color: #d9240d;
}

.addToCollectionButton.clicked {
    background-color: #d9240d;
}

.removeButton {
    background-color: #546254;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.removeButton:hover {
    background-color: #d9240d;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
}


/* Ajoutez ces styles à votre fichier CSS ou dans une balise <style> dans le HTML */

  